$primary-blue: #3A8DFF;
.auth-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;


    .auth-wrapper__left,
    .auth-wrapper__right {
      flex: 0 0 auto;
    }
  
    .auth-wrapper__left {
      width: 40%;
      background-image: url('/assets/images/side-banner.png');
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      h1{margin: 0 80px;
        margin-top: 2rem;
        color: white;
        text-align: center;
      }
    }
    .auth-wrapper__right {
      height: 100vh;
      width: 60%;

      .top-nav{
        justify-content: end;
        padding: 24px;
        align-items: center;
        margin-bottom: 4rem;

        p{
color: rgba(176, 176, 176, 1);
        }
a{
          text-decoration: none;
}
        button{
          width: 140px;
          height: 54px;
          color: $primary-blue;
          box-shadow: 0px 4px 4px rgba(88, 133, 196, 0.15);
          margin-left: 1rem;
        }
      }
      .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 160px;

        h2{
          width: 100%;
          text-align: left;
          font-weight: 800;
          margin-bottom: 1rem;
        }

        form{
          width: 100%;
          
          .MuiFormControl-root{
            width: 100%;
            margin-bottom: 1rem;
          }
          input:focus{
            border-bottom: $primary-blue;
          }
          .button-container{
            margin-top: 2rem;
            width: 100%;
            display: flex;
            justify-content: center;

            button{
              width: 160px;
              height: 56px;
            margin: auto;
            background: $primary-blue;
            color: white;
          }
          }
          

        }
      }
    }
  }

  .forgot-password-link{
    position: absolute;
    right: 0;
    bottom: 24px;
    font-size: 12px;
    color: $primary-blue;
  }

  @media screen and (max-width: 425px) {
    .auth-wrapper{
      .auth-wrapper__left{
      display: none;
    }

    .auth-wrapper__right{
      width: 100%;

      .main{
        padding: 0 48px;
      }
    }
    }
    
  }